Source: xorg-server
Section: gui
Priority: optional
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
XCS-Cross-Host-Build-Depends: debhelper (>= 4.0.0),
 xorg-util-macros (>= 1.1.6-0.oi3),
 quilt,
 pkg-config,
 lsb-release,
 automake,
 libtool,
 xtrans-dev (>= 1.2.1-1.oi1)
XCS-Cross-Build-Depends: x11proto-randr-dev (>= 1.2),
 x11proto-render-dev (>= 2:0.9.3),
 x11proto-fixes-dev (>= 4.0),
 x11proto-core-dev (>= 7.0.13),
 x11proto-xext-dev (>= 7.0.3),
 x11proto-damage-dev (>= 1.1),
 x11proto-xcmisc-dev,
 x11proto-input-dev (>= 1.4.4),
 x11proto-bigreqs-dev,
 x11proto-resource-dev,
 libsha1-dev,
 libpixman-1-dev (>= 0.9.5),
 libxkbfile-dev,
 libxfont-dev
Build-Depends: debhelper (>= 4.0.0),
 xorg-utils-macros (>= 1.1.6-0.oi3),
 quilt,
 pkg-config,
 lsb-release,
 automake,
 libtool,
 x11proto-randr-dev (>= 1.2),
 x11proto-render-dev (>= 2:0.9.3),
 x11proto-fixes-dev (>= 4.0),
 x11proto-core-dev (>= 7.0.13),
 x11proto-xext-dev (>= 7.0.3),
 x11proto-damage-dev (>= 1.1),
 x11proto-xcmisc-dev,
 x11proto-input-dev (>= 1.4.4),
 x11proto-bigreqs-dev,
 x11proto-resource-dev,
 xtrans-dev (>= 1.2.1-1.oi1),
 libsha1-dev,
 libpixman-1-dev (>= 0.9.5),
 libxkbfile-dev,
 libxfont-dev,
Standards-Version: 3.7.3

Package: xserver-xfbdev
Architecture: alpha amd64 arm armeb armel hppa i386 ia64 lpia m32r m68k mips mipsel powerpc ppc64 sh3 sh3eb sh4 sh4eb sparc
Depends: ${shlibs:Depends}, ${misc:Depends}, libsha1, xkbcomp, xkb-data
Recommends: xbase-clients, xfonts-base
Description: Linux framebuffer device tiny X server
 xserver-xfbdev is a Linux framebuffer device tiny X server based on the
 kdrive X server.
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This package is built from the X.org xserver module.

Package: xserver-xfbdev-dbg
Architecture: any
Depends: xserver-xfbdev (= ${binary:Version})
Priority: extra
Description: Linux framebuffer device tiny X server (debugging symbols)
 xserver-xfbdev is a Linux framebuffer device tiny X server based on the
 kdrive X server.
 .
 This package provides debugging symbols for the server and associated modules.
